---
# Not sure if this is a GNOME-only issue, but I've no way of testing it right now.
- name: Check if /etc/bluetooth exists
  ansible.builtin.stat:
    path: /etc/bluetooth
  register: etc_blt

- name: Install required packages for bluetooth to work
  community.general.pacman:
    name:
      - bluez
      - bluez-utils
    state: present
  become: true

- name: Ensure bluetooth.service is enabled at boot
  ansible.builtin.systemd:
    name: bluetooth.service
    state: started
    enabled: true
  become: true

- name: Auto-enable bluetooth on login
  ansible.builtin.lineinfile:
    path: /etc/bluetooth/main.conf
    regexp: "^#AutoEnable=.*"
    line: "AutoEnable=true"
  become: true
  when: etc_blt.stat.exists

- name: Install Pipewire + WirePlumber
  ansible.builtin.shell: "yes | pacman -S {{ item }}"
  changed_when: false
  loop:
      - pipewire
      - pipewire-alsa
      - pipewire-pulse
      - pipewire-jack
      - wireplumber
      - wireplumber-docs
  become: true

- name: Ensure pipewire/wireplumber services are enabled
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon_reload: false
    scope: user
  loop:
    - pipewire
    - pipewire-pulse
    - wireplumber

- name: Remove iptables (replaced by iptables-nft)
  community.general.pacman:
    name: iptables
    state: absent
    force: true  # --nodeps --nodeps
  become: true

- name: Install firewalld
  community.general.pacman:
    name:
      - firewalld
      - iptables-nft
    state: present
  become: true

- name: Ensure firewalld is started and enabled at boot
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: true
    daemon_reload: false
    scope: system
  become: true

- name: Install zram-generator
  community.general.pacman:
    name: zram-generator
    state: present
  become: true

- name: Create zram-generator configuration
  ansible.builtin.template:
    src: zram-generator.conf.j2
    dest: /etc/systemd/zram-generator.conf
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Enable /dev/zram0
  ansible.builtin.systemd:
    name: /dev/zram0
    state: started
    daemon_reload: true
  become: true
