---
- name: Remove packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: absent
  with_items:
    - "{{ packages_to_remove }}"
  become: true

- name: Disable services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  ignore_errors: true # Don't fail in case a service does not exist
  with_items:
    - "{{ services_to_disable }}"
  become: true
