- name: Add flatpak repositories
  community.general.flatpak_remote:
    name: "{{ item.name }}"
    state: present
    flatpakrepo_url: "{{ item.url }}"
    method: user
  loop: "{{ flatpak_repositories }}"
  when: flatpak_repositories

- name: Install flatpaks
  community.general.flatpak:
    name:  "{{ item.name | default(item) }}"
    state: present
    remote: "{{ item.remote | default('flathub') }}"
    method: user
  loop: "{{ flatpak_packages }}"
  when: flatpak_packages

- name: Flatpak overrides
  ansible.builtin.command: flatpak override --user --env={{ item.var }} {{ item.app }}
  loop:
    - app: md.obsidian.Obsidian
      var: "OBSIDIAN_USE_WAYLAND=1"
    - app: org.mozilla.Thunderbird
      var: "MOZ_ENABLE_WAYLAND=1"
  changed_when: true
