---
- name: Install some GNOME specific packages
  ansible.builtin.package:
    name:
      - gnome-tweaks
      - dconf-editor
      - "{{ psutil_package_name }}"
      - dconf
      - gnome-shell-extension-appindicator
    state: present
  become: true

- name: Ensure ~/.local/share/themes exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.local/share/themes"
    state: directory
    mode: "0755"

- name: Download the adw-gtk3 theme
  ansible.builtin.get_url:
    url: https://github.com/lassekongo83/adw-gtk3/releases/download/v2.0/adw-gtk3v2-0.tar.xz
    dest: /tmp/adw-gtk3.tar.xz

- name: Unpack the adw-gtk3 theme
  ansible.builtin.unarchive:
    src: /tmp/adw-gtk3.tar.xz
    dest: "{{ ansible_user_dir }}/.local/share/themes/"

- name: Unbind default switch-to-application keys.
  community.general.dconf:
    key: "/org/gnome/shell/keybindings/switch-to-application-{{ item }}"
    value: "['']"
  with_sequence: start=1 end=9

- name: Nautilus preferences
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
  loop:
    - key: "/org/gnome/nautilus/icon-view/captions"
      value: "['size', 'date_modified_with_time', 'none']"
    - key: "/org/gnome/nautilus/preferences/always-use-location-entry"
      value: "false"
    - key: /org/gnome/nautilus/preferences/show-delete-permanently
      value: "true"

- name: Configure input sources.
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
  loop:
    - key: "/org/gnome/desktop/input-sources/xkb-options"
      value: "['caps:swapescape', 'lv3:ralt_switch', 'eurosign:4']"
    - key: "/org/gnome/desktop/input-sources/sources"
      value: "[('xkb', 'us'), ('xkb', 'gr')]"

- name: Peripherals
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
  loop:
    - key: "/org/gnome/desktop/peripherals/mouse/accel-profile"
      value: "'flat'"
    - key: "/org/gnome/desktop/peripherals/touchpad/tap-to-click"
      value: "true"

- name: Window manager preferences
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
  loop:
    - key: "/org/gnome/desktop/wm/preferences/button-layout"
      value: "'icon:minimize,maximize,close'"
    - key: "/org/gnome/desktop/wm/preferences/action-middle-click-titlebar"
      value: "'minimize'"
    - key: "/org/gnome/desktop/wm/preferences/resize-with-right-button"
      value: "true"

- name: Change default GNOME keybindings.
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
  loop:
    - key: "/org/gnome/desktop/wm/keybindings/close"
      value: "['<Super>q']"
    - key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-1"
      value: "['<Shift><Super>exclam']"
    - key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-2"
      value: "['<Shift><Super>at']"
    - key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-3"
      value: "['<Shift><Super>numbersign']"
    - key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-4"
      value: "['<Shift><Super>dollar']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-1"
      value: "['<Super>1']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-2"
      value: "['<Super>2']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-3"
      value: "['<Super>3']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-4"
      value: "['<Super>4']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-applications"
      value: "['<Alt>Tab']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-applications-backward"
      value: "['<Shift><Alt>Tab']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-windows"
      value: "['<Super>Tab']"
    - key: "/org/gnome/desktop/wm/keybindings/switch-windows-backward"
      value: "['<Shift><Super>Tab']"
