---
- name: Fedora stuff
  block:
    - name: Fedora | Enable RPM Fusion, Free and Non-Free
      ansible.builtin.dnf:
        name: "https://mirrors.rpmfusion.org/{{ item }}/fedora/rpmfusion-{{ item }}-release-{{ ansible_distribution_major_version }}.noarch.rpm"
        state: present
        disable_gpg_check: true
      with_items:
        - free
        - nonfree

    - name: Fedora | Install multimedia packages (codecs etc)
      ansible.builtin.dnf:
        name: "{{ multimedia_packages }}"
        state: present

    - name: Fedora | Enable COPR repositories
      community.general.copr:
        name: "{{ item }}"
        state: enabled
      loop:
        - atim/lazygit
        - atim/bottom

    - name: Fedora | Enable Tailscale repository
      ansible.builtin.command:
        cmd: dnf config-manager --add-repo https://pkgs.tailscale.com/stable/fedora/tailscale.repo
        warn: false
      args:
        creates: /etc/yum.repos.d/tailscale.repo
  become: true
  when: ansible_distribution == "Fedora"

- name: Install base packages
  ansible.builtin.package:
    name: "{{ base_packages }}"
    state: present
  become: true

- name: Archlinux | Install 32bit packages, if multilib is enabled
  ansible.builtin.pacman:
    name: "{{ multilib_packages }}"
    state: present
  register: installed_repo_packages
  when:
    - ansible_distribution == "Archlinux"
    - arch_enable_multilib | bool
    - multilib_packages is defined
  become: true

- import_tasks: tasks/aur.yml
  when:
    - ansible_distribution == "Archlinux"
    - aur_packages is defined

- name: Install packages with NPM
  import_tasks: tasks/npm.yml
  when:
    - npm_packages is defined

- name: Check if ~/.cargo is already present
  ansible.builtin.stat:
    path: "{{ home }}/.cargo"
  register: cargo_dir

- name: Check if ~/.rustup is already present
  ansible.builtin.stat:
    path: "{{ home }}/.cargo"
  register: rustup_dir

- name: Install Rust
  block:
    - name: Download the rustup installer.
      ansible.builtin.get_url:
        url: https://sh.rustup.rs
        dest: /tmp/sh.rustup.rs
        mode: "755"
        force: true

    - name: Run the rustup script.
      ansible.builtin.command:
        cmd: /tmp/sh.rustup.rs -y --no-modify-path
      register: installer_output
      changed_when: "'stable-x86_64-unknown-linux-gnu installed' in installer_output.stdout"
  when: not cargo_dir.stat.exists and not rustup_dir.stat.exists

- name: Install packages with Cargo
  community.general.cargo:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ cargo_packages }}"
  when: cargo_packages is defined
  environment:
    PATH: "{{ home }}/.cargo/bin"
