---
- name: Fedora stuff
  block:
    - name: Fedora | Enable COPR repositories
      community.general.copr:
        name: "{{ item }}"
        state: enabled
      loop:
        - atim/lazygit
        - atim/bottom

    - name: Fedora | Enable Tailscale repository
      ansible.builtin.command:
        cmd: dnf config-manager --add-repo https://pkgs.tailscale.com/stable/fedora/tailscale.repo
        warn: false
      args:
        creates: /etc/yum.repos.d/tailscale.repo
  become: true
  when: ansible_distribution == "Fedora"

- name: Install base packages
  ansible.builtin.package:
    name: "{{ base_packages }}"
    state: present
  become: true

- name: Archlinux | Install 32bit packages, if multilib is enabled
  community.general.pacman:
    name: "{{ multilib_packages }}"
    state: present
  register: installed_repo_packages
  when:
    - ansible_distribution == "Archlinux"
    - arch_enable_multilib | bool
    - multilib_packages is defined
  become: true

- name: Install packages with NPM
  import_tasks: tasks/npm.yml
  when:
    - npm_packages is defined

- import_tasks: tasks/aur.yml
  when:
    - ansible_distribution == "Archlinux"
    - aur_packages is defined
