---
- name: Fedora stuff
  block:
    - name: Fedora | Enable COPR repositories
      community.general.copr:
        name: "{{ item }}"
        state: enabled
      loop:
        - atim/lazygit
        - atim/bottom

    - name: Fedora | Enable Tailscale repository
      ansible.builtin.command:
        cmd: dnf config-manager --add-repo https://pkgs.tailscale.com/stable/fedora/tailscale.repo
        warn: false
      args:
        creates: /etc/yum.repos.d/tailscale.repo

    - name: Fedora | Enable RPM Fusion
      ansible.builtin.dnf:
        name: "https://mirrors.rpmfusion.org/{{ item }}/fedora/rpmfusion-{{ item }}-release-{{ ansible_distribution_major_version }}.noarch.rpm"
        state: present
        disable_gpg_check: true
      loop:
        - free
        - nonfree

    - name: Fedora | Ensure system is up-to-date
      ansible.builtin.dnf:
        update_cache: true
        name: "*"
        state: latest

    - name: Fedora | Install multimedia packages (codecs etc)
      ansible.builtin.dnf:
        name: "{{ multimedia_packages }}"
        state: present

    - name: Fedora | Autoremove unneeded packages.
      ansible.builtin.dnf:
        autoremove: true
  become: true
  when: ansible_distribution == "Fedora"

- name: Archlinux stuff
  block:
    - name: Archlinux | Ensure system is up-to-date
      community.general.pacman:
        update_cache: true
        upgrade: true

    - name: Archlinux | Install multimedia packages (codecs etc)
      community.general.pacman:
        name: "{{ multimedia_packages }}"
        state: present
  become: true
  when: ansible_distribution == "Fedora"

- name: Install base packages
  ansible.builtin.package:
    name: "{{ base_packages }}"
    state: present
  become: true

- name: Archlinux | Install 32bit packages, if multilib is enabled
  community.general.pacman:
    name: "{{ multilib_packages }}"
    state: present
  register: installed_repo_packages
  when:
    - ansible_distribution == "Archlinux"
    - arch_enable_multilib | bool
    - multilib_packages is defined
  become: true

- name: Install packages with NPM
  import_tasks: tasks/npm.yml
  when:
    - npm_packages is defined

- import_tasks: tasks/aur.yml
  when:
    - ansible_distribution == "Archlinux"
    - aur_packages is defined
