---
- name: Install power-management related packages
  ansible.builtin.dnf:
    name:
      - acpi
      - powertop
    state: present

- name: Copy over power-save script
  ansible.builtin.template:
    src: "laptop/power-save.sh.j2"
    dest: "/usr/local/bin/power-save"
    owner: root
    group: root
    mode: "0744"

- name: Network card power-savings
  ansible.builtin.lineinfile:
    path: /etc/modprobe.d/iwlwifi.conf
    mode: "0644"
    owner: root
    group: root
    create: true
    line: "options iwlwifi power_save=1 iwlmvm power_scheme=3"

- name: Udev rules
  ansible.builtin.lineinfile:
    path: /etc/udev/rules.d/99-powersave.rules
    mode: "0644"
    owner: root
    group: root
    line: "{{ item }}"
    create: true
  loop:
    - 'SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/usr/local/bin/power-save true"'
    - 'SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/usr/local/bin/power-save false"'
    - 'ACTION=="add", SUBSYSTEM=="pci", ATTR{power/control}="auto"'
    - 'ACTION=="add", SUBSYSTEM=="i2c", ATTR{power/control}="auto"'

- name: Sysctl values
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/99-powersave.conf
  loop:
    - name: kernel.nmi_watchdog
      value: "0"
    - name: vm.dirty_writeback_centisecs
      value: "4000"  # 40 seconds (default is 5)
