---
- name: neovim setup | Check if ~/neovim_src exists
  ansible.builtin.stat:
    path: "{{ home }}/neovim_src"
  register: neovim_src_stat

- name: Setup neovim
  block:
    - name: neovim setup | Clone neovim locally.
      ansible.builtin.git:
        repo: https://github.com/neovim/neovim
        dest: "{{ home }}/neovim_src"
        force: true

    - name: neovim setup | Ensure build prerequisites are installed.
      ansible.builtin.package:
        name: "{{ neovim_build_prerequisites }}"
        state: present
      become: true

    - name: neovim setup | Build neovim
      community.general.make:
        chdir: "{{ home }}/neovim_src"
        params:
          CMAKE_BUILD_TYPE: Release

    - name: neovim setup | Install neovim
      community.general.make:
        chdir: "{{ home }}/neovim_src"
        target: install
      become: true
  when: not neovim_src_stat.stat.exists

- name: neovim setup | Ensure the directory for packer exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.local/share/nvim/site/pack/packer/start/packer.nvim"
    state: directory
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
    mode: "0755"

- name: neovim setup | Clone the packer repository
  ansible.builtin.git:
    repo: https://github.com/wbthomason/packer.nvim
    dest: "{{ home }}/.local/share/nvim/site/pack/packer/start/packer.nvim"
    version: master

- name: neovim setup | Ensure required packages for plugins to work are installed.
  ansible.builtin.package:
    name: "{{ neovim_required_packages }}"
    state: present
  become: true

- name: neovim setup | Install packages using npm
  import_tasks: tasks/npm.yml
  vars:
    npm_packages:
      - prettier
      - bash-language-server
      - "@ansible/ansible-language-server"

- name: nvim setup | Symlink nvim to ~/.config
  ansible.builtin.file:
    src: "{{ dotfiles_dest }}/config/nvim"
    dest: "{{ home }}/.config/nvim"
    state: link
    mode: "0755"
