---
- name: Check if ~/neovim_src exists
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/neovim_src"
  register: neovim_src_stat

- name: Setup neovim
  block:
    - name: Clone neovim locally.
      ansible.builtin.git:
        repo: https://github.com/neovim/neovim
        dest: "{{ ansible_env.HOME }}/neovim_src"
        force: true

    - name: Ensure build prerequisites are installed.
      ansible.builtin.package:
        name: "{{ neovim_build_prerequisites }}"
        state: present
      become: true

    - name: Build neovim
      community.general.make:
        chdir: "{{ ansible_env.HOME }}/neovim_src"
        params:
          CMAKE_BUILD_TYPE: Release

    - name: Install neovim
      community.general.make:
        chdir: "{{ ansible_env.HOME }}/neovim_src"
        target: install
      become: true
  when: not neovim_src_stat.stat.exists

- name: Ensure the directory for packer exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.local/share/nvim/site/pack/packer/start/packer.nvim"
    state: directory
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
    mode: "0755"

- name: Clone the packer repository
  ansible.builtin.git:
    repo: https://github.com/wbthomason/packer.nvim
    dest: "{{ ansible_env.HOME }}/.local/share/nvim/site/pack/packer/start/packer.nvim"
    version: master

- name: Ensure required packages for plugins to work are installed.
  ansible.builtin.package:
    name: "{{ neovim_required_packages }}"
    state: present
  become: true

- name: Install prettier and the Ansible LSP server
  community.general.npm:
    name: "{{ item }}"
    state: present
    global: true
  environment:
    npm_config_prefix: "{{ npm_config_prefix }}"
  loop:
    - prettier
    - "@ansible/ansible-language-server"
