---
- name: Create sway/waybar/mako/rofi symlinks to ~/.config.
  file:
    src: "{{ dotfiles_dest }}/config/{{ item }}"
    dest: "{{ ansible_user_dir }}/.config/{{ item }}"
    state: link
    mode: "0755"
  loop:
    - sway
    - waybar
    - mako
    - rofi
  loop_control:
    label: "Symlinked dotfiles/config/{{ item }} to ~/.config/{{ item }}"
