---
- name: Enable the sway-extras COPR
  community.general.copr:
    name: alebastr/sway-extras
    state: enabled
  become: true
  when: ansible_distribution == "Fedora"

- name: Ensure required packages are installed (Fedora + Arch)
  ansible.builtin.package:
    name:
      - sway
      - waybar
      - mako
      - swaylock
      - swayidle
      - swaybg
      - xdg-desktop-portal-wlr
      - brightnessctl
      - swappy
      - network-manager-applet
      - blueman
      - wf-recorder
      - slurp
      - playerctl
    state: present
  become: true

- name: Ensure required packages are installed (Fedora only)
  ansible.builtin.dnf:
    name:
      - clipman
      - grimshot
      - wob
      - rofi-wayland
      - wev
  become: true
  when: ansible_distribution == "Fedora"

- name: Ensure required packages are installed (Arch only, via the AUR)
  import_tasks: tasks/aur.yml
  vars:
    aur_packages:
      - clipman
      # - wob
      - grimshot
      - rofi-lbonn-wayland-git
      - wev
  when: ansible_distribution == "Archlinux"

- name: Create sway/waybar/mako/rofi symlinks to ~/.config.
  ansible.builtin.file:
    src: "{{ dotfiles_dest }}/config/{{ item }}"
    dest: "{{ ansible_user_dir }}/.config/{{ item }}"
    state: link
    mode: "0755"
  loop:
    - sway
    - waybar
    - mako
    - rofi
  loop_control:
    label: "Symlinked dotfiles/config/{{ item }} to ~/.config/{{ item }}"
