#!/usr/bin/env bash

card=$(ls /sys/class/drm | grep -oE "card[0-9]+" | head -n 1)
if [[ $1 == "false" ]]; then
    /usr/bin/powerprofilesctl set balanced
    echo 1 > /sys/devices/system/cpu/cpufreq/boost
    echo balanced > /sys/class/drm/${card}/device/power_dpm_state
    echo auto > /sys/class/drm/${card}/device/power_dpm_force_performance_level
else
    /usr/bin/powerprofilesctl set power-saver
    echo 0 > /sys/devices/system/cpu/cpufreq/boost
    echo battery > /sys/class/drm/${card}/device/power_dpm_state
    echo low > /sys/class/drm/${card}/device/power_dpm_force_performance_level
fi

