---
- name: Power Management | Install power-management related packages
  ansible.builtin.package:
    name:
      - acpi
      - powertop
    state: present

- name: Power Management | Copy over power-save script
  ansible.builtin.template:
    src: "power-save.sh.j2"
    dest: "/usr/local/bin/power-save"
    owner: root
    group: root
    mode: "0744"

- name: Power Management | Network card power-savings
  ansible.builtin.lineinfile:
    path: /etc/modprobe.d/iwlwifi.conf
    mode: "0644"
    owner: root
    group: root
    create: true
    line: "options iwlwifi power_save=1 iwlmvm power_scheme=3"

- name: Power Management | Audio power saving
  ansible.builtin.lineinfile:
    path: /etc/modprobe.d/audio_powersave.conf
    mode: "0644"
    owner: root
    group: root
    create: true
    line: "options snd_hda_intel power_save=1"

- name: Power Management | Udev rules
  ansible.builtin.lineinfile:
    path: /etc/udev/rules.d/99-powersave.rules
    mode: "0644"
    owner: root
    group: root
    line: "{{ item }}"
    create: true
  loop:
    - 'ATTR{online}=="0", ACTION=="change", SUBSYSTEM=="power_supply", RUN+="/usr/local/bin/power-save true"'
    - 'ATTR{online}=="1", ACTION=="change", SUBSYSTEM=="power_supply", RUN+="/usr/local/bin/power-save false"'
    - 'ACTION=="add|change", SUBSYSTEM=="i2c", ATTR{power/control}="auto"'
    - 'ACTION=="add|change", SUBSYSTEM=="pci", ATTR{power/control}="auto"'
    - 'ACTION=="add|change", SUBSYSTEM=="usb", ATTR{power/autosuspend}="1"'
