---
- name: Fedora | Configure dnf
  ansible.builtin.template:
    src: dnf.conf.j2
    dest: /etc/dnf/dnf.conf
    mode: "0644"
    owner: root
    group: root
    backup: true
  become: true

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Gather service facts
  ansible.builtin.service_facts:

- name: Fedora | Remove packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: absent
  loop:
    - libreoffice-core
    - xorg-x11-drv-intel
    - xorg-x11-drv-nouveau
    - xorg-x11-drv-vmware
    - thai-scalable-fonts-common
    - fedora-bookmarks
    - fedora-chromium-config
    - mediawriter
    - gnome-tour
    - gnome-maps
    - gnome-photos
    - gnome-contacts
    - gnome-initial-setup
    - gnome-logs
    - gnome-user-docs
    - ibus-hangul
    - ibus-libzhuyin
    - ibus-libpinyin
    - khmer-os-system-fonts
    - rhythmbox
    - simple-scan
    - speech-dispatcher
    - yelp-libs
    - thermald
    - abrt
    - chrome-gnome-shell
    - hyperv-daemons
    - hyperv-daemons-license
    - hypervfcopyd
    - hypervkvpd
    - hypervvssd
    - gnome-shell-extension-background-logo
    - sgpio
    - open-vm-tools
    - gnome-terminal
    - gnome-abrt
    - gamemode
  loop_control:
    label: "Removed {{ item }}"
  # when: item in ansible_facts.packages
  become: true

- name: Fedora | Disable systemd services and timers
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - NetworkManager-wait-online
    - NetworkManager-dispatcher
    - mcelog
    - mdmonitor
    - lvm2-monitor
    - vboxservice
    - vboxclient
    - pcscd.socket
    - nfs-convert
    - raid-check.timer
  # when: item in ansible_facts.services
  become: true

- name: Fedora | Mask systemd services and timers
  ansible.builtin.systemd:
    name: "{{ item }}"
    masked: true
    enabled: false
    state: stopped
    daemon_reload: true
  loop:
    - lvm2-monitor
    - switcheroo-control
    - unbound-anchor.timer
    - livesys-late
    - livesys
    - kdump
    - import-state
    - dnf-makecache.timer
    - auditd
    - pcscd
    - mdcheck_start.timer
    - mdcheck_continue.timer
    - mdmonitor-oneshot.timer
    - zfs-fuse-scrub.timer
    - flatpak-add-fedora-repos
  when: item in ansible_facts.services
  become: true

- name: Fedora | fstab performance tuning
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: "x-systemd.device-timeout=0"
    replace: "x-systemd.device-timeout=0,noatime,ssd,discard=async"
    backup: true
  become: true
