---
- name: Fedora | fstab performance tuning
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: "x-systemd.device-timeout=0"
    replace: "x-systemd.device-timeout=0,noatime,ssd,discard=async"
    backup: true
  become: true
