npm_config_prefix: "{{ ansible_env.HOME }}/.node_modules"
npm_packages: []

flatpak_repositories:
  - name: flathub
    url: https://dl.flathub.org/repo/flathub.flatpakrepo
  - name: flathub-beta
    url: https://flathub.org/beta-repo/flathub-beta.flatpakrepo

# Packages to install using flatpak (installation is done for the current user)
flatpak_packages:
  - com.github.tchx84.Flatseal
  - md.obsidian.Obsidian
  - name: org.mozilla.Thunderbird
    remote: flathub-beta
    method: user

aur_packages:
  - paru-bin

arch_enable_multilib: true
